html,
body {
  width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* header */
.header {
  padding: 1.125rem 19.5vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 1.25rem;
  width: 5.9375rem;
}

.translate {
  margin-right: 1rem;
  color: var(--toslide-normal-gray);
}
.translate.active {
  color: black;
}

/* join */
.join-section {
  width: 100%;
  height: 28.125vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.join-section-background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.join-buttons {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  top: 65%;
}

.join {
  width: 10.625%;
  min-width: 120px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  background-color: var(--toslide-blue);
  border-radius: 2rem;
  box-shadow: 0px 0.25rem 1rem #ffffff40;
  opacity: 0.9;
  color: #ffffff;
  outline: 0 !important;
}

.join__lecturer {
  margin-right: 1.5rem;
}

/* tutorial-section */
.tutorial-section {
  padding: 4.5625rem 18.75vw;
  background-color: var(--toslide-background-gray);
}

.tutorial-section__mode {
  width: 100%;
  list-style: none;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0 2.5vw;
  display: flex;
  justify-content: space-around;
}
.tutorial-section__mode__items {
  color: var(--toslide-font-gray);
  cursor: pointer;
}

.tutorial-section__mode__items.selected {
  color: var(--toslide-blue);
}

.tutorial-section__content {
  width: 100%;
  position: relative;
  border-radius: 1.25rem;
  margin-bottom: 7rem;
}

.tutorial-section__content__img-content {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.joiner-mode {
  position: absolute;
  top: 54.4375vw;
  left: 50%;
  transform: translateX(-50%);
  font: normal normal bold 1.5625vw/35px Roboto;
  color: var(--toslide-font-gray);
}

.joiner-mode-btn {
  outline: none !important;
}

.joiner-mode-btn.hover,
.joiner-mode-btn.selected {
  color: var(--toslide-blue);
  text-decoration: underline;
  text-underline-position: under;
}

#select_lecturer {
  margin-right: 4.2vw;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}

.footer-text {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.copyright-text {
  color: var(--toslide-blue);
  opacity: 0.5;
}
.emali-text {
  color: var(--toslide-font-gray);
}
.privacy-anchor {
  color: var(--toslide-blue);
}

/* heedae add */
.tutorial-section__content {
  padding-bottom: 10%;
  background-color: #ffffff;
  border-bottom-left-radius : 20px;
  border-bottom-right-radius: 20px;
}
.video-box {
  position: relative;
  width: 100%;
  height: 0;
  margin-top: 50px;
  padding-bottom: 56.25%;
  text-align: center;
}
.video {
  position: absolute;
  top: 0px;
  left: 10%;
  width: 80%;
  height: 90%;
}
.video-box figcaption {
  position: absolute;
  top: -2rem;
  left: 10%;
  color: var(--toslide-blue);
  font: normal normal bold 1.2rem 'Roboto' !important;
}

/* media query */
@media screen and (max-width: 540px) {
  .header {
    padding: 1.25rem 1.25rem;
  }

  .join-section {
    height: 16.5rem;
  }
  .join-buttons {
    top: 10rem;
  }

  .joiner-mode {
    top: 75vw;
  }

  .tutorial-section {
    padding: 3rem 1.375rem;
  }
  .tutorial-section__mode {
    padding: 0;
    flex-direction: column;
  }
  .tutorial-section__mode__items {
    margin-bottom: 1rem;
  }
  .tutorial-section__content {
    margin-bottom: 0;
  }
}
