@import "./style.css";
html,
body {
  height: 100%;
}

iframe {
  margin: 0;
  display: block;
}

.main {
  height: 100%;
  display: flex;
}

.test-section {
  width: 100%;
}

.attendance {
  border: 1px solid var(--toslide-gray);
}

.test-title {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--toslide-gray);
  border-left: none;
  position: relative;
}

.test-content {
  height: 95%;
  position: relative;
}

.function-image {
  width: 34px;
  height: 34px;
}

.test-cancle-btn {
  position: absolute;
  right: 5px;
}

.gathering-image {
  width: 55px;
  height: 55px;
}

.test-state,
.test-timer {
  width: 135px;
  height: 85px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  right: 35px;
  box-shadow: 0px 0px 8px #0000001a;
  border: 1px solid var(--toslide-gray);
  border-radius: 5px;
}

.test-state {
  bottom: 125px;
}

.test-timer {
  bottom: 35px;
}

.timer-section {
  text-decoration: underline;
  color: var(--toslide-font-gray);
  height: 70%;
}

.timer-function-select {
  height: 30%;
  background-color: var(--toslide-background-gray);
  border-radius: 0 0 5px 5px;
  border-top: 1px solid var(--toslide-gray);
}

#timer_start {
  border-left: 1px solid var(--toslide-gray);
  color: var(--toslide-blue);
}
