:root {
  --toslide-blue: #4535f3;
  --toslide-gray: #dadce0;
  --toslide-normal-gray: #adafb3;
  --toslide-background-gray: #f4f5f6;
  --toslide-font-gray: #7c7d80;
  --border-radius: 5px;
  --border-gentle-radius: 12px;
  --toslide-small-font-size: 12px;
  --toslide-font-size: 12px;
  --margin-small: 8px;
  --margin-middle: 12px;
  --padding-very-small: 4px;
  --padding-small: 8px;
  --padding-middle: 12px;
}

html {
  height: 100vh;
}

body {
  background-color: var(--toslide-background-gray) !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  /* carefully */
}

img {
  width: 100%;
  height: auto;
}

select {
  border-radius: var(--border-radius);
  border: 1px solid var(--toslide-gray);
  width: 35%;
  background-color: white;
  padding: var(--padding-very-small) var(--padding-small);
}

input[type="checkbox"] {
  cursor: pointer;
}

.photo-toggle-section {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  margin: 0;
}

.header-wrap {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.btn-group-wrap {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.option-wrap {
  width: 100%;
  height: 50px;
  border-top: 1px solid var(--toslide-gray);
  border-bottom: 1px solid var(--toslide-gray);
  display: flex;
  align-items: center;
}
.photo-layout {
  width: 100%;
}
.footer-wrap {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
}

.toslide-back-btn {
  cursor: pointer;
  transform: scale(0.8);
  left: 0.5rem;
  display: none;
}

.photo-section-cancle {
  right: 0.5rem;
}

.toslide-btn-group {
  background-color: var(--toslide-gray);
  border-radius: var(--border-radius);
  padding: var(--padding-very-small);
  width: 100%;
}

.toslide-btn-group label {
  cursor: pointer;
  border-radius: var(--border-radius);
}

.toslide-btn-group .radio-input {
  display: none;
}

.toslide-btn-group .radio-input:checked + label {
  background-color: white;
  box-shadow: 0px 0.5px 3px #00000033;
}

.option-select {
  width: 100%;
}

.checkbox-section > * {
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
}

.photo-layout {
  background-color: white;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.util-image {
  width: 24px;
}

.photo-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--padding-middle) 0;
  border-bottom: 1px solid var(--toslide-gray);
}

.photo-items .photo-num,
.photo-items .photo-delete-btn {
  height: 10%;
}

.photo-delete-btn {
  border-radius: 50%;
  background-color: var(--toslide-background-gray);
  transform: scale(0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-delete-btn:focus {
  outline: 0;
}

.photo-items .photo-num {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--toslide-font-gray);
}

.photo-items .image-section {
  border: 1px solid var(--toslide-gray);
  border-radius: var(--border-radius);
}

.select-function {
  border: 1px solid var(--toslide-gray);
  background-color: white;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-very-small);
  width: 40%;
}

.footer {
  width: 100%;
}

.image-keyword {
  text-align: center;
  border: 1px solid rgba(69, 53, 243, 0.25);
  border-radius: var(--border-gentle-radius);
  color: var(--toslide-blue);
  padding: 2px 6px;
}

.image-info1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--padding-very-small);
}

.image-sender {
  color: var(--toslide-font-gray);
}

.image-info2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
}

/* mobile */
.toslide-back-btn.mobile {
  display: block;
}
.photo-section-cancle.mobile {
  display: none;
}
