:root {
  --toslide-blue: #4535f3;
  --toslide-gray: #dadce0;
  --toslide-normal-gray: #adafb3;
  --toslide-background-gray: #f4f5f6;
  --toslide-font-gray: #7c7d80;
  --border-radius: 5px;
  --toslide-font-size: 14px;
  --margin-small: 8px;
  --margin-middle: 12px;
  --padding-very-small: 4px;
  --padding-small: 8px;
  --padding-middle: 12px;
}

body {
  font-family: Roboto !important;
}

button {
  all: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

select {
  all: unset;
  background: url("./images/select_dropdown.svg") no-repeat 100%;
  background-size: 2rem 2rem;
}

input[type="text"],
input[type="email"] {
  all: unset;
  font-size: var(--toslide-font-size);
  background-color: white;
}

.toslide-normal-gray {
  background-color: var(--toslide-gray) !important;
}

.toslide-font-small-bold {
  font: normal normal 700 12px/14px Roboto;
}

.toslide-font-bold {
  font: normal normal 700 16px/19px Roboto;
}

.toslide-font-medium {
  font: normal normal 600 14px/16px Roboto;
}

.toslide-font-medium-label {
  font: normal normal 600 16px/19px Roboto;
}

.toslide-font-normal {
  font: normal normal 500 16px/19px Roboto;
}
